  .title {
    color: rgb(50, 150, 168);
  }

  #container1 {
    display: flex;
    flex:1;
    flex-direction: column;
    background-color:rgba(210, 119, 103, 0.624);
    justify-content: space-between;
    
  }

  div {
    font-size: larger;
    color:rgb(186, 185, 188);
    background-color: rgb(254, 253, 254);
    padding: 10px;
  }


  


