  .title {
    color: rgb(23, 2, 144);
  }

  body {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:crimson;
    }

  #container {
    display:flex;
    flex-direction: row;
    background-color:rgb(10, 10, 59);
    justify-content:center;
    align-items:center;
    height:0;
    width:60%;
    max-width:100%;
    flex-wrap: wrap;
  }


  div {
    color:rgb(186, 185, 188);
    background-color:crimson;
    width:5%;
    padding-bottom:5%;
    height:0;
  }

  div:after {
    content: '';
    display:block;
    padding-bottom:100%;
  }
#gridBtn {
  border:10px;
}
  


